.button-sidebar {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0px;
	text-align: center;
	background-color: #81becb;
	padding: 13px 30px;
	color: #fff;
	border-radius: 57px;
	transition: 0.7s;
	&:hover{
		background-color: rgba(#81becb,0.4);
	}
}